/* src/components/Playbar.css */
.playbar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #121212;
  color: #fff;
  row-gap: 20px;
}

.playbar-info {
  display: flex;
  align-items: center;
}

.playbar-album-cover {
  width: 331px;
  height: 331px;
}

.playbar-song-title {
  font-size:25px;
  margin: 0;
}

.playbar-song-artist {
  font-size: 18px;
  margin: 0;
}

.playbar-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:60%
}

.playbar-control-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  width: 55px;
  height: 55px;
}
.playbar-duration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 60% */
  width: 100%;

}
.playbar-progress-container {
display: flex;
flex-direction: column;
column-gap: 8px;
align-items: center;
width: 100%
}

.playbar-progress-text {
  font-size: 16px;
  margin-top: 8px;
}
.playbar-progress {
  /* width: 60%; */
  width: 100%;

  height: 4px;
  background-color: #888;
  position: relative;
}

.playbar-progress-bar {
  height: 100%;
  background-color: #1db954;
}