/*local variables*/
:root{
    --playlist-width: 110px;
    --playlist-height: 110px;
    --playlist-name-width: 120px;
    --playlist-name-height:120px;
    --standard-padding: 10px;
    --title-padding: 15px;
    --green: #60DC70;
    --light-green: #ADF6B6;
    --title-width: 200px;
    --title-height: 40px;
    --standard-button-size: 50px;
    --font-small: 20px;
}

.playlist-cover{
    padding: var(--standard-padding);
    background-image: linear-gradient(to bottom right, var(--green), var(--light-green));
    width: var(--playlist-width);
    height: var(--playlist-height);
}

.playlist-name{
    padding: var(--standard-padding);
    color: white;
    width: var(--playlist-name-width);
    height: var(--playlist-name-height);
    text-align: center;
    font-size: var(--font-small);
}

.playlist-page-title{
    padding: var(--title-padding);
    color: white;
    width: var(--title-width);
    height: var(--title-height);
    text-align: left;    
}

.add-playlist-button{
    width: var(--standard-button-size);
    height: var(--standard-button-size);
    padding: var(--standard-padding);
}