.song-list-body {    
    background-color: #121212;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 30px 10px;
}

.back-icon-div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.back-icon-style {
    max-width: 150px;
    max-height: 50px;
    border: none;
    background-color: transparent;
    padding-top: 15px;
    padding-left: 25px;
}

.title-style {
    color: #ffffff;
    font-size: 30px;
    padding-left: 25px;
}

.header-style {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0 10px 0;
    padding: 0 60px 0 40px;
    align-items: center;
    max-width: 600px;
}

.sub-header-style {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 30px 0;
    padding: 0 40px 0 40px;
    align-items: center;
    max-width: 600px;
}

.icon-style-large {
    max-height: 150px;
    max-width: 150px;
    height: 90px;
    width: 80px;
    cursor:pointer;
}

.icon-style-small {
    max-height: 40px;
    max-width: 30px;
    height: 50px;
    width: 40px;
    margin-top: 25px;
}

.search-style-small{
    height: 30px;
    width: 30px;
    margin-top: 30px;
}

.song-list-display {
    width: 50%;
    overflow-y: scroll;
}

.title-div {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}