.icon-style {
    width: 25px;
    height: 25px;
}

.icon-button-style {
    background-color: transparent;
    border: none;
}

.song-div {
    /* overflow-y: scroll; */
    /* display: flex; */
   
}